{% extends "shop/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}

<h1>Your shopping cart</h1>
<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Unit price</th>
      <th>Price</th>
    </tr>
  </thead>


  <tbody>
    {% for item in cart %}
    {% with product=item.product %}
    <tr>
      <td>
        <a href="{{ product.get_absolute_url }}">
          <img class="" style="max-width: 150px;" 
               src="{% if product.image %}{{ product.image.url}}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
      </td>
      <td>{{ product.name }}</td>
      <td>  <!-- Quantity -->
        <form class="row g-3" action="{% url "cart:cart_add" product.id %}" method="post">
          {% csrf_token %}
          <div class="col-auto">
            {% render_field item.update_quantity_form.quantity class="form-select" %}
          </div>
          <div class="col-auto">
            {{ item.update_quantity_form.override }}
          </div>
          <div class="col-auto">
            <input class="btn btn-sm btn-primary" type="submit" value="Update">
          </div>
        </form>
      </td>

      <td>
        <form action="{% url "cart:cart_remove" product.id %}" method="post">
          <input class="btn btn-sm btn-danger" type="submit" value="Remove">
          {% csrf_token %}
        </form>
      </td>
      <td class="num">${{ item.price|intcomma }}</td>
      <td class="num">${{ item.total_price|intcomma }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="table-primary">
      <td colspan="4"></td>
      <td class="fs-5 fw-bold">Total</td>
      <td class="fs-5 fw-bold">${{ cart.get_total_price|intcomma }}</td>
    </tr>
  </tbody>
</table>

<p class="text-right">
  <a href="{% url "shop:product_list" %}" class="btn">Continue shopping</a>
  <a href="{% url "orders:order_create" %}" class="btn btn-primary">Checkout</a>
</p>
{% endblock %}
